body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.mermaid {
    width: 100%;
    max-width: 600px; /* 可以根据需要调整最大宽度 */
    margin: auto;
}